doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="stylesheet", href="/styles/style.css")
    body
        main.main
            navbar.sidebar
                div.nav-section.profile
                    a.nav-link(href="") My Profile 
                div.nav-section.cpu
                    a.nav-link(href="/cpu") CPU 
                
                div.nav-section.system
                    a.nav-link(href="/device") System
            div.info
                div.header
                    h1 Hi #{system.user.name}
                    button.btn__update_system(type="button" value=system.user._id) Update System
                

                div.chartContainer     
                    canvas#myChart(width="400", height="200")

                div.cpu-info
                    div.cpu_data.cpuManufacturer-heading CPU Manufacturer 
                    div.cpu_data.cpuManufacturer-name= system.cpuManufacturer

                    div.cpu_data.cpuBrand-heading CPU Brand 
                    div.cpu_data.cpuBrand-name= system.cpuBrand

                    div.cpu_data.physicalCores-heading Physical Cores 
                    div.cpu_data.physicalCores-number= system.cpu_physicalCore

                    div.cpu_data.logicalProcessor-heading Logical Processors 
                    div.cpu_data.logicalProcessor-number= system.cpu_logicalCore


                div.systemInfo-container
                    div.table-data.manufacturer-heading Manufacturer
                    div.table-data.manufacturer-name= system.manufacturer

                    div.table-data.model-heading Model
                    div.table-data.model-name= system.model

                    div.table-data.serialNumber-heading Serial Number 
                    div.table-data.serialNumber= system.serial


                div.batteryChart
                    canvas#batteryData

                div.memoryChart
                    canvas#memoryChart

        
        script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js')
        script(src="https://cdn.jsdelivr.net/npm/chart.js")
        script(src="/socket.io/socket.io.js")
        script(src="/js/chart.js") 